table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
tr{
    font-family: Arial, Helvetica, sans-serif;
}

tr:nth-child(even) { background-color: rgb(59, 59, 190); }
tr:nth-child(3) { background-color: rgb(0, 132, 255); }
tr:nth-child(5) { background-color: rgb(0, 132, 255); }
table{
    width:50%
}
td{
    column-width: 200px;
}
td,th:nth-child(1) {text-align:left;}
td:nth-child(2) {text-align:center;}
td:nth-child(3) {text-align:center;}
td:nth-child(4) {text-align:right;}
th:nth-child(4) {text-align:right;}

td, th{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
caption{
    caption-side: bottom;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    text-size-adjust: 30px;
}

